flask
flask-login
flask-sqlalchemy
flask-migrate
flask-wtf
flask-bcrypt
flask-mail
flask-limiter
flask-talisman
celery
redis
openai-whisper
spacy
pywebpush
boto3
razorpay
weasyprint
pydub
python-dotenv
gunicorn
psycopg2-binary
itsdangerous
pytest
opensmile
librosa
scikit-learn
numpy
torch
ffmpeg-python
email-validator
Pillow
